.sidebar {
    width: 240px;
    flex: 0 0 240px;
    height: calc(100svh - 56px);
    top: 56px;
    position: sticky;
    background: #fff;
    border-right: 1px solid #e5e5e5;
    padding: 12px 0;
    /* border-radius: 10px; */
    overflow-y: auto;
    /* Убрали margin-top — он не нужен при sticky */
}

.sidebarNav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 12px;
}

.sidebarItem {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    color: #0f0f0f;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.sidebarIcon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    /* Уменьшенный отступ */
    fill: currentColor;
}

.sidebarSectionDivider {
    height: 1px;
    background: #e5e5e5;
    margin: 12px 0;
}

@media (max-width: 900px) {
    .sidebar {
        display: none;
    }
}
